<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>MyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRestraunt</display-name>
    <servlet-name>GetAllRestraunt</servlet-name>
    <servlet-class>com.Servlet.GetAllRestraunt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRestraunt</servlet-name>
    <url-pattern>/GetAllRestrauntsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.Servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterRestrauntServlet</display-name>
    <servlet-name>RegisterRestrauntServlet</servlet-name>
    <servlet-class>com.Servlet.RegisterRestrauntServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterRestrauntServlet</servlet-name>
    <url-pattern>/RegisterRestrauntServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMenu</display-name>
    <servlet-name>GetMenu</servlet-name>
    <servlet-class>com.Servlet.GetMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMenu</servlet-name>
    <url-pattern>/GetMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantLoginServlet</display-name>
    <servlet-name>RestaurantLoginServlet</servlet-name>
    <servlet-class>com.Servlet.RestaurantLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantLoginServlet</servlet-name>
    <url-pattern>/RestaurantLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenu</display-name>
    <servlet-name>AddMenu</servlet-name>
    <servlet-class>com.Servlet.AddMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenu</servlet-name>
    <url-pattern>/AddMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardServlet</display-name>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>com.Servlet.CardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/CardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.Servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.Servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMenuServlet</display-name>
    <servlet-name>UpdateMenuServlet</servlet-name>
    <servlet-class>com.Servlet.UpdateMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMenuServlet</servlet-name>
    <url-pattern>/UpdateMenuServlet</url-pattern>
  </servlet-mapping>
</web-app>